/* styles for Gallery::System */

.sysgal-gr-block {
	display:inline-block;
	border: 2px solid #ddd;
	padding:5px;
	margin:5px;
}

.sysgal-gr-block:HOVER {
	border: 2px solid #aaa;
}

.sysgal-gr-block-link IMG {
	width: 190px;
	height: 190px;
}

.sysgal-gr-block-link {
	display:inline-block;
	background-size: cover !important;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.sysgal-gr-block-descr {
	width: 190px;
	font-size:12pt;
	margin:10px 0 10px 0;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#v3-slider-load {
	display:inline-block;
	max-width:660px;
	text-align:center !important;
}

/* styles for Gallery::System */