/* styles for Weblog::Static */

.wl-load-block {
    margin:0;
    padding:0;
}

.wl-load-block H2 {
    margin-top: 0;
    padding-top: 0;
}

.weblog-indx-contents-header a {
    font-size: 12pt;
}

.weblog-indx-contents-header a:hover {
    font-size: 12pt;
}

.weblog-indx-contents-header a:visited {
    font-size: 12pt;
}

.weblog-indx-contents-data {
    padding: 0 0 10px 0;
}

.weblog-indx-contents-pages-block {
    padding:0 0 10px 0;
}

.weblog-annonce-contents-block {
    text-align:left;
    padding:12px;
}

.weblog-annonce-contents-header, .weblog-annonce-contents-header:visited {
    font-size: 10pt;
    color: #A0A0A0;
}

.weblog-annonce-contents-header:hover {
    font-size: 10pt;
    color: #707070;
    text-decoration: underline;
}

.weblog-annonce-contents-data {
    font-size: 8pt;
    color: #707070;
}

/* styles for Weblog::Static */
