/* styles for Lightshop::Sales */


/* new cart design styles */

.captcha-new-form {
    margin: 5px 0 0 0;
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    vertical-align: bottom;
    height:25px;
    width:81px;
}

.cart-canvas {
    padding:10px;
    margin: 0 0 20px 0;
    width:97%;
    min-height:300px;
    border-color: #D0D0D0;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8)
}

.cart-item-header {
    font-family: Tahoma, Arial;
    margin:0px 0 5px 0; 
    font-size:12pt;
    color:#505050;
    font-weight: bold;
}

.cart-link-path {
    width:99%;
    margin:10px 0 20px 0;
    padding:10px;
    background-color: rgba(190,53,37, 0.05);
}

.goods-in-cart TD.goods-in-cart-left {
    width:100%;
    padding:20px 0 20px 0;
    border-color: #C0C0C0;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.goods-in-cart TD.goods-in-cart-right {
    width:10px;
    padding:20px 0 20px 0;
    border-color: #C0C0C0;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.cart-item-img, .cart-item-descr {
    padding:5px;
}

.cart-item-descr {
    padding:0 0 0 10px;
    font-size:10pt;
    color:#505050;
    line-height:20px;
}

.cart-item-text {
    margin: 10px 0 10px 0;
    padding: 0 0 0 10px;
    font-size:10pt;
    color:#505050;
    border-color: #C0C0C0;
    border-width: 0 0 0 3px;
    border-style: solid;
}

 .cart-item-descr select {
    width:70px;
    height:23px;
    border-color: #EAEAEA;
    border-width: 1px;
    background-color: #EAEAEA;
 }

.cart-item-img IMG {
    border-width: 5px;
    border-style: solid;
    border-color: #F5F5F5;
}

.cart-item-img IMG:hover {
    border-color: #E0E0E0;
}

A.cart-item-delete, A.cart-item-delete:hover, A.cart-item-delete:visited {
    font-size:14pt;
    font-weight: bold;
    text-decoration: none;
}

.cart-item-descr-price {
    font-size:16pt;
}

.cart-checkout-block {
    margin:10px 0 0 0;
    border-color: #C0C0C0;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.cart-item-lighted-font {
    color:#707070;
}

.cart-checkout-from-block {
    margin:30px 0 0 0;
    font-size:11pt;
    color:#505050;
}

.cart-checkout-from-block-header {
    font-size:16pt;
    color:#404040;
    font-weight: bold;
}

.cart-checkout-from-block FORM {
    margin:0;
    padding:0;
}

.cart-checkout-from-block INPUT {
    margin: 5px 0 0 0;
    padding:5px;
    height:27px;
    width:400px;
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
}

.cart-checkout-from-block INPUT.anti-span-code {
    margin: 5px 0 0 0;
    padding:5px;
    height:27px;
    width:312px;
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
}


.cart-checkout-from-block INPUT:hover {
    border-color: #800000;
}

.cart-checkout-from-block TEXTAREA {
    margin: 5px 0 0 0;
    padding:5px;
    width:680px;
    height:100px;
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
}

.cart-checkout-from-block TEXTAREA:hover {
    border-color: #800000;
}

.cart-checkout-from-block SELECT {
    width:200px;
    height:30px;
    font-weight: bold;
    color:#404040;
    border-color: #EAEAEA;
    border-width: 1px;
    background-color: #EAEAEA;
}

.more-about-button {
    display:block;
    text-align:center;
    margin:10px 0 0 0;
    padding:10px;
    width:200px;
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
    text-decoration:none;
    color:#505050;
    font-size:12pt;
}

.more-about-button:HOVER {
    color:#505050;
    font-size:12pt;
    border-color: #800000;
    text-decoration:none;
    background-color: #F9F9F9;
}

/* new cart design styles */

.lightshopcartlink {}
A.lightshopbuyitnowlink, A.lightshopbuyitnowlink:VISITED { font-family: Tahoma,Arial; font-size: 14px; text-decoration:none; color:#F55555; }
A.lightshopbuyitnowlink:HOVER { font-family: Tahoma,Arial; font-size: 14px; color:#F00000; text-decoration:underline; }

table.lightshopcarttable {
    border-color: #C0C0C0;
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin-bottom:20px;
}

table.lightshopcarttable td{
    border-color: #C0C0C0;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFFFFF;
    font-family:"OpenSans Regular",Arial,Tahoma; font-size : 9pt; color: #000000; font-weight: normal; text-decoration: none;
}

table.lightshopusertable {
    margin-bottom:20px;
} 

.lightshopusercontenttab {
    font-family: "OpenSans Regular",Tahoma, Arial; color: #000000; font-size : 12px; text-decoration: none; font-weight: normal;;
    border-color: #C0C0C0;
    background-color: #F8F8F8;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding:10px !important;
}

.lightshopuserfocusedtab {
    font-family: "OpenSans Regular",Tahoma, Arial; color: #000000; font-size : 10pt; text-decoration: none; FONT-WEIGHT: bold;
    border-color: #C0C0C0;
    background-color: #F8F8F8;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    padding:10px !important;
}

.lightshopuserunfocusedtab {
    font-family: "OpenSans Regular",Tahoma, Arial; color: #000000; font-size : 10pt; text-decoration: none; font-weight: normal;
    border-color: #C0C0C0;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding:10px !important;
}

.lightshopusercontenttab TABLE { width:850px !important; }

.lightshopusercontenttab TABLE TR { height: auto !important; }

.lightshopusercontenttab TABLE TD { padding: 5px !important; }

.lightshopusercontenttab TABLE UL { padding: 30px; font-size : 12pt; }

.lightshopusercontenttab TABLE UL LI A.simplelink { font-size : 12pt; color:#FE5621 }

.lightshopusercontenttab TABLE INPUT.lshopinput {
    line-height:20px !important;
}

.lightshopusercontenttab TABLE TEXTAREA.lshopinput {
    line-height:20px !important;
    width:100% !important;
    height: 200px !important;
}

.light-shop-usrstatus {
    margin:10px 0 10px 0;
    padding:20px;
    border-color: #F0F0F0;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    font-size : 11pt;
    color:#0000FF;
}

.light-shop-usrerror {
    margin:10px 0 10px 0;
    padding:20px;
    border-color: #F0F0F0;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    font-size : 11pt;
    color:#FF0000;
}

.lightshop-usr-topblock {
    display:table;
    width:718px;
    margin-bottom:30px;
}

.lightshop-usr-pageheader {
    font-family: Arial,Tahoma,Arial;
    font-size: 14pt;
    color: #505050;
    font-weight: normal;
    text-decoration: none;
    display:table-cell;
    width:auto;
}

.lightshop-usr-profile {
    display:table-cell;
    width:auto;
    text-align:right;
}

.lightshop-login-hint {
    padding-left:10px;
    display:inline-block;
    font-weight: bold;
    color: #C0C0C0;
}

/* styles for Lightshop::Sales */