/* styles for Rss::Yandex */

.rss-news-block {
	line-height:27px;
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
	color:#606060;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: silver;
}
.rss-news-head { font-weight: bold; color:#404040; }
.rss-silver-fnt { color:silver; }

A.rss-pages-link, A.rss-pages-link:VISITED { color: #F93E04; font-size : 15px; text-decoration: underline; font-weight: normal; }
A.rss-pages-link:HOVER { color: #AA0000; font-size : 15px; text-decoration: underline; font-weight: normal; }

.rss-disabled-link, { padding-left:3px; padding-right:3px; color: #A0A0A0; font-size: 15px; text-decoration: none; font-weight: normal; background-color:#E8E8E8; }

/* styles for Rss::Yandex */