/* styles for Shopcat::V3 */

.shopcat-slick-img-fixed { width:150px; }
.shopcat-slider-anch { width:100%; text-align: center; }
.shopcat-variants-img { display: inline !important; }
.shopcattopchainnavitempl { padding:10px; margin:0 0 20px 0; background-color:#F0F0F0; }
.shopcatfullcatitem { font-size:14pt; line-height:25px;}
.shopcatsubcatitem { margin-left:30px; line-height:20px; }
.shopcat-content-generated { font-family: Tahoma,Arial; font-size: 10px; text-decoration:none; color:#C0C0C0; }
.shopcat-description-anchor-text { color:#A0A0A0; }
.shopcat-disabled-link { padding-left:3px; padding-right:3px; color: #A0A0A0; font-size: 15px; text-decoration: none; font-weight: normal; background-color:#E8E8E8; }
.shopcat-grey-error { font-family: Tahoma,Arial; font-size: 14px; text-decoration:none; color:#C0C0C0; font-weight: bold; }
.shopcat-search-button {
    height:30px;
    width: 100%;
    color: #505050;
    font-size: 14px;
    font-family: FontAwesome, Tahoma, Arial;
    /*border: 1 outset #808080;
    height:18;*/
    cursor:pointer;
    background:#FAFAFA;
    border-color: #808080;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    }


.shopcat-search-input {
    height:30px;
    width: 100%;
    color: #505050;
    font-size: 14px;
    font-family: Tahoma, Arial;
    background:#FFFFFF;
    border-color: #808080;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    }

.shopcat-search-button:HOVER {
    color:red;
}

.shopcat-variants-img {
    margin:0px;
    border-width: 5px;
    border-color:#F0F0F0;
    border-style: solid;
}

.shopcat-variants-img:HOVER {
    border-color:#E0E0E0;
}

.shopcat-header-div {
    margin:20px 0 20px 0;
}

.shopcat-search-div {
    display:table;
    width:100%;
    margin:0 0 20px 0;
}

.shopcat-search-div-td1 {
    display:table-cell;
    width:90%;
    padding-right:5px;
}

.shopcat-search-div-td2 {
    display:table-cell;
    width:10%;
}

.shopcat-search-div-td1a {
    display:table-cell;
    width:30%;
    padding-right:5px;
}

.shopcat-search-div-td2a {
    display:table-cell;
    padding-right:5px;
    width:60%;
}

.shopcat-search-div-td3a {
    display:table-cell;
    width:10%;
}

.shopcat-content-div {
    margin:20px 0 20px 0;
    font-family: Tahoma,Arial;
    font-size: 14px;
    color: #505050;
}

.shopcat-header-div H3 {
    font-family: Arial,Tahoma,Arial;
    font-size: 14pt;
    color: #505050;
    font-weight: normal;
    text-decoration: none;
}

.shopcat-std-text {
    font-family: Tahoma,Arial;
    color: #505050;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}

.shopcat-catlist-div {
    font-family: Tahoma,Arial;
    font-size: 14px;
}

.shopcat-navi {
    margin:20px 0 !important;
    display:table;
    width:100%;
}

.shopcat-navi-div {
    display:table-cell;
    padding:10px;
    vertical-align:middle;
    background-color:#F0F0F0;
    font-family: Tahoma,Arial;
    font-size: 14px;
    color: #303030;
    width:100%;
}

.shopcat-home-div {
    display:table-cell;
    font-family: Tahoma,Arial;
    color: #303030;
    vertical-align:middle;
    padding: 0 15px 0 15px;
}

.shopcat-home-div A, .shopcat-home-div A:VISITED, .shopcat-textlink-span { color: silver !important; font-size: 20pt !important;  }
.shopcat-home-div A:HOVER { color: #777 !important;  }
.shopcat-fa-img { padding:0px !important; font-size: 55pt; color: #E0E0E0; line-height:50px; }

.shopcat-fa-img-variants { border: 4px solid #e2e2e2 !important; padding:0px !important; font-size: 55pt; color: #E0E0E0; line-height:50px; }
.shopcat-fa-img-variants:hover { border: 4px solid #ccc !important; }

.shopcat-variant-img A, .shopcat-variant-img A:visited {
    font-size: inherit !important;
    color: inherit !important;
    padding:0px !important;
}

.shopcat-debug-info-div {
    font-size: 12px;
    text-align:right;
    margin:20px 0 20px 0;
    color:#C0C0C0
}

.shopcat-margined-list-item {
    margin-left: 30px;
}

.shopcat-fallback-mess-div {
    font-family: Tahoma,Arial;
    font-size: 14px;
    text-align:left;
    padding:0 0 20px 0;
    margin:0 0 20px 0;
    color:#C0C0C0;
    border-color: #C0C0C0;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.shopcat-template-block {
    padding:10px;
    margin:20px 0 20px 0;
    background-color:#FDFDFD;
    font-family: Tahoma,Arial;
    font-size: 14px;
    color: #505050;
}

.shopcat-template-sliderblock {
    padding:10px;
    margin:20px 0 20px 0;
    background-color:#FDFDFD;
    font-family: Tahoma,Arial;
    font-size: 14px;
    color: #505050;
    text-align:center;
}

A.shopcat-simplelink, A.shopcat-simplelink:VISITED { font-family: Tahoma,Arial; font-size: 14px !important; text-decoration:none; color:#F55555; }
A.shopcat-simplelink:HOVER { font-family: Tahoma,Arial; font-size: 14px !important; color:#F00000; text-decoration: underline; }
A.shopcat-textlink-navi, A.shopcat-textlink-navi:VISITED { font-family: Tahoma,Arial; font-size: 14px; text-decoration:none; color:#707070;  }
A.shopcat-textlink-navi:HOVER { font-family: Tahoma,Arial; font-size: 14px; text-decoration:underline; color:#404040;  }

A.shopcat-pageslink, A.shopcat-pageslink:VISITED { color: #F93E04; font-size : 15px; text-decoration: underline; font-weight: normal; }
A.shopcat-pageslink:HOVER { color: #AA0000; font-size : 15px; text-decoration: underline; font-weight: normal; }

.shopcat-sel-filters {
    height:30px;
    width: 100%;
    color: silver;
    font-size: 14px;
    font-family: Tahoma, Arial;
    background:#FFFFFF;
    border-color: #808080;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-weight: normal;
}

.shopcat-sel-filters-selected {
    color:#505050;
    font-weight: bold;
}

.shopcat-margined-li-i-d {
    font-size:10pt;
    color:silver;
    padding:2px 0px 13px 13px;
}

/* EasyTabs Styles for embedded templates */

ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
    float: left;
    color:#808080;
    background-color:#F5F5F5;
    border-radius: 6px 6px 0 0;
    border: 1px solid #F0F0F0;
    border-bottom: none;
}

.resp-tabs-container {
    font-size: 12px;
    padding: 0px;
    line-height: 1.5;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border: 1px solid #EAEAEA !important;
    border-bottom: 1px solid #FFFFFF !important;
    background-color: #FFFFFF !important;
    color:#BC1D22 !important;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #EAEAEA;
    font-size:14px;
    color:#707070;
}

.resp-tab-content UL {
    margin-left:10px;
}

.resp-tab-content UL LI:before {
    color:#D0D0D0;
    content: "\27A4";
    padding-right:10px;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #f2F2f2;
    border-top: 0px solid #f2F2f2;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #f2F2f2 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

/* EasyTabs Styles for embedded templates */

.shopcat-variant-img {
    display: table-cell !important;;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle !important;
    border: none !important;
    padding: 1px !important;s
}

/* styles for Shopcat::V3 */
