/* styles for Feedback::Casual */

.feedback-form div {
	margin-bottom: 5px;
}

#pheix_fb_module_status_message > p {
	color: #4d8cf2 !important; font-weight: bold !important;
}

/* styles for Feedback::Casual */
