/* styles for form elements */

.input-styled {
    border:1px solid #9f9f9f;
    padding:5px;
    width:300px;
    height:31px;
    margin-right:4px;
    color: #808080;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.input-styled:hover { border-color: #707070; }

.input-disabled {
    width: 120px;
    height:20px;
    background:#FFFFFF;
    border: 1px solid #C0C0C0;
    color: #C0C0C0;
    font-size: 11px;
    font-family: 'PT Sans', sans-serif;
    }
    
/* styles for form elements */

/* ------------------------------------------------------------------------------ */

/* styles for blocks */

DIV.div-td-lft DIV {
    padding: 2px 8px 2px 0;
    border-color: #D0D0D0;
    border-width: 0 1px 0 0;
    border-style: dotted;
    color: #707070;
    font-size : 12px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-weight: normal;
}
DIV.div-td-rght DIV { padding: 2px 0 2px 5px; font-family: 'PT Sans', sans-serif; color: #707070; font-size : 12px; text-decoration: none; font-weight: normal; }

/* styles blocks */

/* ------------------------------------------------------------------------------ */

/* styles for autocomplete input */

.ui-autocomplete { font-size : 12px !important; z-index: 10000 !important; }
.ui-autocomplete-loading { background: white url("../../../images/admin/cms/ui-anim_basic_16x16.gif") right center no-repeat !important; }
 
/* styles for autocomplete input */

/* ------------------------------------------------------------------------------ */

/* styles for texts */

.wl-err { line-height:30px !important;  font-weight: bold !important; }

/* styles for texts */

/* ------------------------------------------------------------------------------ */

/* styles for slick plugin */

.slick-prev:before, .slick-next:before { color:#808080 !important; }

/* styles for slick plugin */

/* ------------------------------------------------------------------------------ */

/* styles for htmleditor */

.htmleditor { margin: 0 0 10px 0; background-color:#FFFFFF; border: 1px solid #9f9f9f; }
.akatabselect { padding:10px; margin-bottom:30px; border: 5px solid #FDE4C6; }

/* styles for htmleditor */