/* styles for Shopcat::V3 */

.cattreetabp { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }
.cattreetabload { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }
.details_header { font-family: 'PT Sans', sans-serif; color:#606060; font-size:14pt; padding:0; font-weight:normal; }
.detailsblock { background-color:white; padding:10px; margin:20px 0 20px 0; }
.shopcat-id-topmargin { margin: 35px 0 0 0; }

A.cattreetabnoload { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }
A.cattreetabnoload:visited { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }
A.cattreetabnoload:hover { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }

TABLE.nomargintable { padding:0px; margin-bottom:0px; width:100%; }
TABLE.nomargintable td.tabbutton{ text-align:right; }
TABLE.nomargintable div.tabcontent { font-family: 'PT Sans', sans-serif; color:#505050; font-size:12px; text-decoration:none; font-weight:normal; }

TABLE.nm1tab { border-color:#C0C0C0; background-color:#FFFFFF; border-width: 1px 1px 1px 1px; border-style: solid; }
TABLE.nm1tab TR:hover { background-color:#FAFAFA; }

TABLE.nomargintable DIV.tabcontent TABLE {
    border-color: #C0C0C0;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-spacing: 0;
    width:900px;
    font-family: 'PT Sans', sans-serif; color: #000000; font-size: 11px; text-decoration: none; font-weight: normal;
}

TABLE.nomargintable DIV.tabcontent TABLE TH, TABLE.nomargintable DIV.tabcontent TABLE TD  {
    margin: 0;
    padding: 4px;
    background-color: #FFFFFF;
    border-color: #C0C0C0;
    border-width: 1px 1px 0 0;
    border-style: solid;
    font-family: 'PT Sans', sans-serif; color: #000000; font-size: 11px; text-decoration: none; font-weight: normal;
}

.frm-div-marg { margin: 5px 0 5px 0;}
.frm-div-marg-header { margin-bottom: 20px !important; font-weight: bold; font-size:12pt; }
.frm-div-filtrs {  padding: 0 0 0 20px; }
.td-filtr { border-color:#C0C0C0; border-width: 0 0 0 1px; border-style: dotted;  }
.addnewitemform { margin: 0; }
.downloadfile-header { margin: 0; font-family: 'PT Sans', sans-serif; color: #505050; font-size:12pt; text-decoration: none; font-weight: normal; }
.shopcat-page-links { margin-bottom:30px;}
.shopcat-modaledit-textarea { width:100%; height:100px !important; border-color:#B0B0B0 !important; }
.shopcat-modaledit-input { width:100%; border-color:#B0B0B0 !important; }
.shopcat-modaledit-input:HOVER, .shopcat-modaledit-textarea:HOVER { border-color:#707070 !important; }
.shopcat-modaledit-butt { width:200px; }
.shopcat-modaledit-td-padding { padding-right:20px; }
.shopcat-margin { margin: 20px 0 !important; }
A.shopcat-greytext-link, A.shopcat-greytext-link:visited { font-family: 'PT Sans', sans-serif; color:#F93E04; font-size:14pt !important; }
A.shopcat-greytext-link:hover { color:#aa0000; text-decoration: underline; }
/* styles for Shopcat::V3 */