/* styles for form elements */

#sysgal-create, #sysgal-modify { margin:0; padding:0; }

INPUT[type="checkbox"] { position: absolute; left: -9999px; }

INPUT[type="checkbox"] + LABEL SPAN {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../../../images/admin/cms/check_sheet.png) left top no-repeat;
    cursor:pointer;
}

INPUT[type="checkbox"]:checked + LABEL SPAN {
    background:url(../../../images/admin/cms/check_sheet.png) -19px top no-repeat;
}

.checkbox_label {font-family: 'PT Sans', sans-serif; color: #505050; font-size: 10pt; text-decoration: none; font-weight: normal; }
.cb-lbl-2 {font-family: 'PT Sans', sans-serif; line-height:25px; color: #707070; font-size : 10pt; text-decoration: none; font-weight: normal; }

/* styles for form elements */

/* ------------------------------------------------------------------------------ */

/* styles for delete-image trick */

#ex3 { position:relative; width:*; }
#ex3 DIV A IMG { height: 0px; }
#ex3:hover DIV A IMG { position:absolute; top:0; left:0; height: 32px; }

/* styles for delete-image trick */

.hide-policy-block {
	padding:10px;
	border-radius: 5px;
	border: 1px solid #5cd65c;
	background-color: rgba(92, 214, 92, 0.05);
	margin-bottom:20px;
}

.hide-policy-block:HOVER { background-color: rgba(92, 214, 92, 0.15); }

.hide-policy-block A, .hide-policy-block A:VISITED { margin: 0 0 0 3px; color: #00b33c; text-decoration:none;  font-weight: bold; border-bottom: 1px dotted;}
.hide-policy-block A:HOVER { color: #006622;  font-weight: bold; text-decoration:none; }

.imgeditor-header { margin: 0 0 20px 0; font-family: 'PT Sans', sans-serif; color: #505050; font-size:12pt; text-decoration: none; font-weight: normal; }
.imgeditor-photo-block { margin:0 0 0 15px; }
.imgeditor-resize { display:block; margin:20px 0 20px 0; }

.imgeditor-erase-block {
	border-top: 2px dotted red;
	padding-top:30px; 
	margin: 30px 0 60px 15px;
	font-family: 'PT Sans', sans-serif;
	color: #505050; font-size:12pt;
	text-decoration: none;
	font-weight: normal;
}

.imgeditor-erase-block-hidden {
	display:none;
}

.imgeditor-erase-block INPUT {
	background-color:#f48073;
	border-color: #e55242;
	color:white;
}

.imgeditor-erase-block INPUT:HOVER {
	background-color:#e55242;
	border-color: #d63726;
	cursor:pointer;
}

.imgeditor-no-photo {
	padding:15px;
	display:table-cell;
	vertical-align:middle;
	border: 2px solid silver;
	font-weight: bold; 
	color:#d0d0d0;
	font-size:13pt;
}

.imgeditor-error {
	padding:15px;
	border: 1px solid #f48073;
	border-radius: 5px;
	background-color: rgba(224, 58, 29, 0.07);
	font-family: 'PT Sans', sans-serif;
	color:red;
	font-size:14pt;
}

.imgeditor-select SELECT { width: 450px; }
.imgeditor-select INPUT { width: 170px; margin-left:10px; }
.imgeditor-select SELECT:HOVER { background-color: #fff; }

.sgal-form-elem, .sgal-form-elem-date { display:block; margin:5px 0 5px 0; font-size:10pt !important; font-family: 'PT Sans', sans-serif; }
.sgal-form-elem TEXTAREA { width:100%; height:100px; border-color: #A0A0A0 !important; }
.sgal-form-elem INPUT { width:100%; border-color: #A0A0A0 !important; }
.sgal-form-elem .button { width: 170px; }
.sgal-form-elem-date INPUT { width:70%; border-color: #A0A0A0 !important;}

.sysgal-fa-img { padding:10px; border: 2px solid #E0E0E0; font-size: 35pt; color: #E0E0E0; line-height:30px; }
.sysgal-fa-img:HOVER { border: 2px solid #B0B0B0; }
.sysgal-fa-img:HOVER .sysgal-fa-img-link { color: #B0B0B0; }
.sysgal-fa-img-link, .sysgal-fa-img-link:VISITED { font-size: 35pt !important; color: #E0E0E0; line-height:30px; }
.sysgal-fa-img-link:HOVER { color: #B0B0B0; }

A.sysgal-dotlink, A.sysgal-dotlink:VISITED {
	font-family: 'PT Sans', sans-serif;
	font-size:10pt;
	text-decoration:none;
	color: #505050;
	border-bottom: 1px dotted #505050;
}

A.sysgal-dotlink:HOVER {
	font-family: 'PT Sans', sans-serif;
	font-size:10pt;
	color: #F93E04;
	border-bottom: 1px dotted #F93E04;
	text-decoration:none;
}

.sysgal-gr-block {
	margin: 15px;
	font-family: 'PT Sans', sans-serif;
	font-size:10pt;
}

.sysgal-nf-block {
	margin: 15px 15px 30px 15px;
	padding-bottom:30px;
	border-bottom: 2px dotted #C0C0C0;
	font-family: 'PT Sans', sans-serif;
	font-size:10pt;
}

.sysgal-margin-top { margin-top:10px; }
.sysgal-margin-bot { margin-bottom:10px; }

.sysgal-radio-block:HOVER input[type=radio] + label:before,
.sysgal-radio-block:HOVER input[type=radio]:checked + label:before {
	color: #fe9553;
}

.sysgal-radio-block input[type=radio] + label:before {
	position:relative;
	font-family: FontAwesome;
	font-size: 14pt;
	content: "\f10c";
	color:#888;
	margin-right:10px;
	top:2px;
}

.sysgal-radio-block input[type=radio]:checked + label:before {
	font-family: FontAwesome;
	font-size: 14pt;
	content: "\f192";
	color:#888;
	margin-right:10px;
}

.sysgal-radio-block input[type=radio] + label,
.sysgal-radio-block input[type=text] + label {
	font-family: 'PT Sans', sans-serif; font-size: 10pt;
	color:#505050;
}

.sysgal-radio-block input[type=text] {
	margin-top:10px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #909090;
	font-family: 'PT Sans', sans-serif; font-size: 10pt;
	width:60%;
	background-color:transparent;
}

.sysgal-radio-block label.hoverable:HOVER {
	cursor:pointer;
}

.sysgal-popup { width: 360px; }
/* ------------------------------------------------------------------------------ */