/* styles for Lightshop::Sales */

A.lightshop-rekvizity-link, A.lightshop-rekvizity-link:VISITED {
	font-family: 'PT Sans', sans-serif;
	color: #808080;
	font-weight: normal;
	text-decoration: underline;
}

A.lightshop-rekvizity-link:HOVER {
	color: #404040;
}

.lightshop-edit-userdata-fulltab {
    width:800px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
    text-decoration: none;
}

.lightshop-edit-userdata-fulltab TD {
    width:400px;
}

.lightshop-edit-userdata-fulltab TD P {
    margin:0 0 3px 0;
}

.lightshop-edit-userdata-fulltab TD LABEL {
    line-height:20px;
}

.lightshop-edit-userdata-fulltab-tdleft {
    padding-right:10px;
    border-color: #C0C0C0;
    border-width: 0 1px 0 0;
    border-style: dotted;
}

.lightshop-edit-userdata-fulltab-tdright {
    padding-left:8px;
}

.lightshop-edit-userdata-simplediv {
    width:500px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
    text-decoration: none;
}

.lightshop-edit-userdata-simplediv P {
    margin:0 0 3px 0;
}

.lightshop-edit-userdata-simplediv LABEL {
    line-height:20px;
}

.lightshop-edit-dealdata-form {
    width:500px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #505050;
    font-weight: normal;
    text-decoration: none;
}

.lightshop-edit-dealdata-form P {
    margin:0 0 3px 0;
}

.lightshop-edit-dealdata-form LABEL {
    line-height:20px;
}

.lightshop-edit-dealdata-form SELECT {
    margin-bottom:10px;
}

/* styles for Lightshop::Sales */
