/* styles for form elements */

.news-in-grey {
    height:20px;
    background:#FFFFFF;
    border:1px solid #404040;
    color: #606060;
    font-size: 11px;
    font-family: 'PT Sans', sans-serif;
}

.news-in-grey:hover {
    border-color: #fe9553;
}

.news-btn-create {
    width:300px;
    padding:5px;
    background:#FFFFFF;
    border: 1px solid #9f9f9f;
    color: #505050;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
}

.news-btn-create:hover {
    background: #FEF7E0;
    border-color: #707070;
}

/* styles for form elements */

/* ------------------------------------------------------------------------------ */

/* styles for blocks */

DIV.news-div-td-lft DIV { 
    padding: 2px 8px 2px 0;
    border-color: #D0D0D0;
    border-width: 0 1px 0 0;
    border-style: dotted;
    color: #707070;
    font-size : 12px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-weight: normal;
}
DIV.news-div-td-rght DIV { padding: 2px 0 2px 5px; width:600px; font-family: 'PT Sans', sans-serif; color: #707070; font-size : 12px; text-decoration: none; font-weight: normal; }

.news-tabs-form {
    text-align:left !important;
    font-family: 'PT Sans', sans-serif; color: #505050; font-size : 12px; text-decoration: none; font-weight: normal;
}
.news-tabs-form DIV { padding: 2px 8px 2px 5px; }
.news-tabs-form DIV.news-tabs-galcontainer { }

/* styles blocks */

/* ------------------------------------------------------------------------------ */