/* Root links */
.dropdown-menu-a,.dropdown-menu-a:link,.dropdown-menu-a:visited {
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Helvetica, Tahoma;
	font-style: italic;
	font-size: 12pt;
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #CC9966;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
/* Root link hover */
.dropdown-menu a:hover,.dropdown-menu li.dropdown-menu-hover>a {
	/*background-color:#CC6600;*/
	
}
/* Submenus */
.dropdown-menu li ul {
	margin: 10px;
	border-style: solid;
	border-color: #c4c7c8;
	border-width: 1px 1px 0px 1px;
	background-image: url('../../images/menubg.png');
}

/* Submenus */
.dropdown-menu-submenu a {
	font-family: Helvetica, Tahoma;
	font-style: normal;
	font-size: 10pt;
	display: block;
	font-weight: normal;
	color: #303030;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

/* Submenus */
.dropdown-menu-submenu a {
	border-style: solid;
	border-color: #c4c7c8;
	border-width: 0px 0px 1px 0px;
}

/* Submenus */
.dropdown-menu-submenu a:hover {
	background: #F0F0F0;
}

/* Optional submenu drop shadow */
.dropdown-menu-shadow {
	-webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/*** ESSENTIAL STYLES ***/
.dropdown-menu {
	white-space: nowrap;
	display: inline-block;
	/* IE7 inline-block fix */
	*display: inline;
	*zoom: 1;
}

.dropdown-menu,.dropdown-menu li ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown-menu li ul {
	display: none;
	position: absolute;
	z-index: 1000000;
}

.dropdown-menu ul ul {
	top: 0;
	left: 100%;
}

.dropdown-menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
	/* IE7 inline-block and padding fix */
	*display: inline;
	*zoom: 1;
	*vertical-align: bottom;
}

.dropdown-menu li a {
	display: block;
}

.dropdown-menu ul li {
	position: relative;
	display: block;
}

.dropdown-menu-vertical li {
	display: block;
	position: relative;
	/* IE7 fix */
	*float: left;
	*width: 100%;
}

.dropdown-menu-vertical span.dropdown-menu-sub-indicator {
	background-position: 0 0;
}

.dropdown-menu-vertical li:hover>a>span.dropdown-menu-sub-indicator,.dropdown-menu-vertical li.dropdown-menu-hover>a>span.dropdown-menu-sub-indicator
	{
	background-position: -10px 0;
}

UL.dropdown-menu-submenu {
	width:220px;
	margin-top: 5px !important;
	margin-left: 0px !important;
}

.dropdown-menu-li {
	margin: 0 0 0 1px !important;
}