/* import modules styles */
@import "modules/admin/pheix-news.css" screen;
@import "modules/admin/pheix-gallery.css" screen;
@import "modules/admin/pheix-weblog.css" screen;
@import "modules/admin/pheix-feedbck.css" screen;
@import "modules/admin/pheix-lightshop.css" screen;
@import "modules/admin/pheix-shopcat.css" screen;

/* -------------------------------------------------------------------------- */
@font-face {
	font-family: "Strasua";
	src: url("fonts/strasua.eot");
	src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
		 url("fonts/strasua.ttf") format("truetype");
}

BODY, FORM {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	color: #303030;
}

.tr01 {
	background-color: #F3F3F3;
}

.tr02 {
	background-color: inherit;
}

/* -------------------------------------------------------------------------- */

.pheix-wrapper { min-height: 30px; }

/* styles for logo */

.pheix {
	font-family: "Strasua", sans-serif;
	color: #303030;
	font-size: 50px;
	text-decoration: none;
	font-weight: normal;
}

.slogan {
	font-family: 'PT Sans', sans-serif;
	color: #A0A0A0;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

/* styles for logo */

/* ------------------------------------------------------------------------------ */

/* styles administration panel menu, content area & footer */
.divmenucell {
	width:220px !important;
	display: inline-block;
	top: 0px;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.divmenucell-exit {
	display: inline-block;
	top: 0px;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.divmenucell-exit SPAN.item, .divmenucell SPAN.item {
	text-align:center !important;
	display: block;
	line-height: 2;
	color: #202020;
	padding: 25px;
	border-color: #D0D0D0;
	border-width: 0px 0px 0px 1px;
	border-style: dotted;
}

.divmenucell-exit SPAN.itemexit{
	display: block;
	line-height: 2;
	color: #202020;
	padding: 25px;
	border-color: #D0D0D0;
	border-width: 0px 1px 0px 1px;
	border-style: dotted;
}

.divmenucell-exit SPAN.topline, .divmenucell SPAN.topline {
	display: block;
	height: 10px;
	background-color: #feabb8;
	border-color: #fd8295;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}

.divmenucell-exit SPAN.toplineexit {
	display: block;
	height: 10px;
	background-color: #feabb8;
	border-color: #fd8295;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
}

.divmenucell:hover SPAN.topline {
	background-color: red;
}

.divmenucell-exit:hover SPAN.toplineexit {
	background-color: red;
}

.divmenucell-exit:hover SPAN.itemexit {
	text-decoration: underline;
}

.divmenucell:hover SPAN.item {
	text-decoration: underline;
}

.divfootercell {
	display: inline-block;
	width: 1000px;
	color: #A0A0A0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

.divcontentcell {
	display: inline-block;
	width: 1000px;
	text-align: left;
}

.divinstallerr {
	border: 1px dashed #DDDDDD;
	background-color: #F5F5F5;
}

/* styles administration panel menu, content area & footer */

/* ------------------------------------------------------------------------------ */

/* styles for create button */
.container A {
	display: block;
	margin: 0 0 30px 0;
	padding: 10px;
	background-color: #fEfEfE;
	border: 1px solid #eee;
	color: #F93E04;
	font-size: 15pt;
	font-family: 'PT Sans', sans-serif;
	color: #606060;
	font-size: 15pt;
	text-decoration: underline;
	font-weight: normal;
	line-height: 2em;
}

.container A:hover {
	border: 1px solid #eee;
	font-family: 'PT Sans', sans-serif;
	color: #F93E04;
	font-size: 15pt;
	text-decoration: underline;
	font-weight: normal;
}

.container A:visited {
	border: 1px solid #eee;
	font-family: 'PT Sans', sans-serif;
	color: #606060;
	font-size: 15pt;
	text-decoration: underline;
	font-weight: normal;
}

/* styles for create button */

/* ------------------------------------------------------------------------------ */

/* styles for spoiler button */
.spoiler-wrapper {
	display: block;
	margin: 0 0 30px 0;
	padding: 10px;
	background-color: #fEfEfE;
	border: 1px solid #eee;
	font-size: 15pt;
	font-family: 'PT Sans', sans-serif;
	color: #606060;
	font-size: 15pt;
	text-decoration: underline;
	font-weight: normal;
	line-height: 2em;
}

.spoiler A.spoilerlink,A.spoilerlink:visited {
	font-family: 'PT Sans', sans-serif;
	font-size: 15pt;
	text-decoration: underline;
	font-weight: normal;
	color: #606060;
	font-size: 15pt;
}

.spoiler A.spoilerlink:hover {
	color: #FF8040;
}

.spoiler-text {
	display: none;
	margin: -2px;
}

/* styles for spoiler button */

/* ------------------------------------------------------------------------------ */

/* styles for tables */
.bft_bg {
	background-color: #F9F9F9;
}

.btf_hint {
	padding: 10px;
	font-family: sans-serif;
	font-size: 12px;
}

.arcell {
	padding: 10px;
	background-color: #F7F7F7;
}

.arcellp {
	padding: 10px;
}

TABLE.tabselect {
	padding: 10px;
	margin-bottom: 30px;
	border-color: #FDE4C6;
	border-width: 5px 5px 5px 5px;
	border-style: solid;
}

TABLE.tabselect TR:hover {
	background-color: white;
}

TABLE.messagelist {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}

TABLE.simpletab {
	border-color: #C0C0C0;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

TABLE.simpletab TD {
	margin: 0;
	padding: 4px;
	background-color: #FFFFFF;
	border-color: #C0C0C0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}

TABLE.bruteforcetab {
	border-color: #C0C0C0;
	border-width: 0 0 1px 1px;
	border-style: solid;
	margin-bottom:30px;
}

TABLE.bruteforcetab TD {
	border-color: #C0C0C0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

.statslogrec {
	display:table;
	width:calc( 100% - 2px );
	padding: 0;
	margin: 0;
	border-color: #C0C0C0;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-spacing: 0px;
	font-family: 'PT Sans', sans-serif;
	font-size: 11pt !important;
	color: #555;
	font-weight:normal;
	background-color:#f7f7f7;
}

.statslogrec:HOVER {
	background-color:#fff;
	border-left: 4px solid rgba(249, 62, 4, 0.5);
	width:calc( 100% - 5px );
}

.statslogrec-fullbrdr {
	border-top: 1px solid #C0C0C0;
}

.statslogrec-cont, .statslogrec-location {
	display:table-cell;
	padding:10px;
	vertical-align: middle;
}

.statslogrec-cont { width:90%; }
.statslogrec-location { width:10%; text-align:center; font-weight:bold; }
.statslogrec-location img { width: 33px; height: 25px; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.statslogrec-cont > P {
	padding:0;
	margin:0;
}

.statslogrec-cont > P > SPAN {
	font-weight:bold;
	color: #999;
}

.statslogrec-cont > P > A {
	background-color: #fff;
	font-weight: normal;
	text-align:center;
	font-size: 11pt !important;
}

TABLE.statslogtab {
	width:100%;
	padding:0;
	border-color: #C0C0C0;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-spacing: 0px;
}

TABLE.statslogtab TD, TABLE.statslogtab TD > A, P.clipped-text > A {
	background-color: #fff;
	font-weight: normal;
	text-align:center;
	font-size: 10pt !important;
}

TABLE.statslogtab TH {
	background-color: #F6F6F6;
	font-weight:bold;
	text-align:center;
	font-size: 11pt;
}

TABLE.statslogtab TD, TABLE.statslogtab TH {
	margin: 0;
	padding: 7px;
	border-color: #C0C0C0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	font-family: 'PT Sans', sans-serif;
	color: #555;
	text-decoration: none;
}

/* styles for tables */

/* ------------------------------------------------------------------------------ */

/* styles for texts */
.admin_header,.a_hdr {
	color: #D0D0D0;
	font-family: 'PT Sans', sans-serif;
	font-size: 22pt;
	margin-left: 0px;
	padding-bottom: 20px;
	padding-top: 10px;
	font-weight: normal;
	text-align: left;
	text-shadow: 1px 1px 0px #606060;
}

.stxt,.standart_text,.cmstext {
	font-family: 'PT Sans', sans-serif;
	color: #505050;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

.console_std {
	font-family: CourierPs, Courier, sans-serif;
	color: #808080;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}

.poweroffmodule {
	font-family: 'PT Sans', sans-serif;
	color: #C0C0C0;
	font-size: 11pt;
	text-decoration: line-through;
	font-weight: bold;
}

.pheix-fancy-header {
	color: #404040;
	font-family: 'PT Sans', sans-serif;
	font-size: 14pt;
	padding-bottom: 20px;
	padding-top: 0px;
	margin:0;
	font-weight: normal;
}

.popup_header {
	color: #404040;
	font-family: 'PT Sans', sans-serif;
	font-size: 14pt;
	padding-bottom: 20px;
	padding-top: 5px;
	font-weight: normal;
}

.lightadminpagelink {
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'PT Sans', sans-serif;
	color: #A0A0A0;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	background-color: #E8E8E8;
}

.installmarkup {
	font-family: 'PT Sans', sans-serif;
	font-size: 11pt;
	text-decoration: none;
	font-weight: bold;
}

.status {
	font-family: 'PT Sans', sans-serif;
	color: #0000FF;
	font-size: 11pt;
	text-decoration: none;
	font-weight: bold;
}

.error {
	font-family: 'PT Sans', sans-serif;
	color: #FF0000 !important;
	font-size: 11pt;
	text-decoration: none;
	font-weight: bold;
}

.s_t {
	font-family: 'PT Sans', sans-serif;
	color: #707070;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

.redtext {
	color: #FF0000 !important;
}

.bluetext {
	color: #0080FF !important;
}

.greytext {
	color: #A0A0A0 !important;
}

/* styles for texts */

/* ------------------------------------------------------------------------------ */

/* styles for links */
A.silverlink {
	font-family: 'PT Sans', sans-serif;
	color: #B0B0B0;
	font-weight: normal;
	text-decoration: none;
}

A.silverlink:visited {
	font-family: 'PT Sans', sans-serif;
	color: #B0B0B0;
	font-weight: normal;
	text-decoration: none;
}

A.silverlink:hover {
	font-family: 'PT Sans', sans-serif;
	color: #B0B0B0;
	font-weight: normal;
	text-decoration: underline;
}

A.bot_designed_link {
	color: #D0D0D0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-decoration: underline;
	font-weight: normal;
}

A.bot_designed_link:visited {
	color: #D0D0D0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-decoration: underline;
	font-weight: normal;
}

A.bot_designed_link:hover {
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-decoration: underline;
	font-weight: normal;
}

A,A.simplelink,A.simple_link,A.admpageslink {
	font-family: 'PT Sans', sans-serif;
	color: #F93E04;
	font-size: 12px;
	text-decoration: underline;
	font-weight: normal;
}

A:visited,A.simplelink:visited,A.simple_link:visited,A.admpageslink:visited
	{
	font-family: 'PT Sans', sans-serif;
	color: #F93E04;
	font-size: 12px;
	text-decoration: underline;
	font-weight: normal;
}

A:hover,A.simplelink:hover,A.simple_link:hover,A.admpageslink:hover {
	font-family: 'PT Sans', sans-serif;
	color: #AA0000;
	font-size: 12px;
	text-decoration: underline;
	font-weight: normal;
}

/* styles for links */

/* ------------------------------------------------------------------------------ */

/* styles for emulated file select */
.inst_mod_head {
	font-family: 'PT Sans', sans-serif;
	color: #505050;
	font-size: 11pt;
	text-decoration: none;
	font-weight: normal;
}

.im_input {
	float: left;
}

.im_input INPUT {
	border: 1px solid #9f9f9f;
	padding: 5px;
	width: 550px;
	height: 32px;
	margin-right: 4px;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
	color: #C0C0C0;
	text-decoration: none;
	font-weight: normal;
}

.im_input INPUT:hover {
	border-color: #707070;
}

#imulated {
	padding: 0px;
	border: none;
	opacity: 0;
	filter: Alpha(opacity = 0);
	padding: 0px;
}

/* styles for emulated file select */

/* ------------------------------------------------------------------------------ */

/* styles for common form elements */
.radiobutton {
	border: 0px;
}

.installbutton {
	padding: 5px;
	width: 300px;
	background: #FFFFFF;
	border: 1px solid #9f9f9f;
	color: #505050;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
}

.installbutton:hover {
	border-color: #707070;
	background: #FEF7E0;
}

.input {
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #404040;
	color: #606060;
	font-size: 11px;
	font-family: 'PT Sans', sans-serif;
}

.input:hover {
	border-color: #fe9553;
}

.button {
	width: 300px;
	padding: 5px;
	background: #FFFFFF;
	border: 1px solid #9f9f9f;
	color: #505050;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
}

.button:hover {
	background: #FEF7E0;
	border-color: #707070;
}

/* styles for common form elements */

/* ------------------------------------------------------------------------------ */

/* styles for jgrowl hints */
.hinthead {
	font-family: 'PT Sans', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold
}

.hintcont {
	font-family: 'PT Sans', sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal
}

.hintspan {
	font-family: 'PT Sans', sans-serif;
	color: #C0C0C0;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	font-style: normal
}

.hintcont p a {
	color: #fb8939 !important;
}

.hintcont p a:visited {
	color: #fb8939 !important;
}

.hintcont p a:hover {
	color: #fe6464 !important;
}

/* styles for jgrowl hints */

/* config module additional styles */
.setupdiv {
	padding: 0 0 0 10px;
}

.setupdiv FORM {
	padding: 0;
	margin: 0;
}

.setuplabeldiv {
	padding: 2px 0 2px 0;
	font-family: 'PT Sans', sans-serif;
	color: #505050;
	font-size: 13px;
}

.setupinputdiv {
	margin: 0;
}

.setupinput {
	margin: 0 0 10px 0;
	width: 100%;
	height: 25px;
	background: #FFFFFF;
	border: 1px solid #9f9f9f;
	color: #606060;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

.setupinput:hover {
	border-color: #fe9553;
}

.setupinput:read-only { opacity: 0.5; }

.setupgroup {
	background: #FFFFFF;
	padding: 10px;
	border: 1px solid #9f9f9f;
	margin: 0 0 10px 0;
}

.setupbutton {
	width: 200px;
	line-height: 25px;
	background: #FFFFFF;
	border: 1px solid #9f9f9f;
	color: #505050;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
}

.setupbutton:hover {
	background: #FEF7E0;
	border-color: #707070;
}

/* slide tab out */
.apopheoz-news-slide-out-div {
	padding: 20px 20px 0 20px;
	width: 370px;
	background: #F0F0F0;
	border: none;
}

.apopheoz-news-slide-out-div A.handle {
	opacity: 0.3 !important;
}

.apopheoz-news-slide-out-div A.handle:HOVER {
	opacity: 0.5 !important;
}

.apopheoz-news-slide-out-div P {
	font-family: 'PT Sans', sans-serif;
	color: #606060;
	font-size: 12pt;
	line-height: 1.5em;
}

A.apopheoz-news-link-title,A.apopheoz-news-link-title:VISITED {
	font-family: 'PT Sans', sans-serif;
	text-decoration: underline;
	font-weight: normal;
	color: #555;
	font-size: 15pt;
}

A.apopheoz-news-link-title:HOVER {
	color: #FF8040;
	text-decoration: underline;
}

.apopheoz-news-title {
	padding: 0 0 17px 0;
	margin: 13px 0 20px 0;
	border-bottom: 1px dotted #D0D0D0;
	line-height: 1.7em;
}

.apopheoz-news-date {
	margin-top: 10px;
	font-family: 'PT Sans', sans-serif;
	color: #B0B0B0;
	font-size: 10pt;
}

.apopheoz-news-bottom-navig,.apopheoz-news-bottom-navig A,.apopheoz-news-bottom-navig A:VISITED
	{
	font-family: 'PT Sans', sans-serif;
	font-size: 10pt;
	line-height: 1.5em;
}

.apopheoz-news-bottom-navig {
	color: #B0B0B0 !important;
}

A.statloglink, A.statloglink:VISITED, A.statloglink:HOVER {
	font-size:11pt;
	text-overflow: "…";
}

.weekend {
	background-color: #c7fcb5 !important;
}

.stats-padding {
	padding:20px 20px 20px 20px;
}

.stats-padding P.topheader {
	margin-top:0;
	padding-top:0;
	font-size:12pt;
}

.stats-padding P.plotheader {
	font-size:12pt;
}

.stats-plot {
	width:100%;
	height:400px;
}

.pheix-tabs-container {
	margin-bottom:20px;
}

.srch-btn { width:100px;}
.srch-inpt { width: 820px; }
.srchinputs { margin-bottom:20px; }


.clipped-text {
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 170px;
	text-overflow: ellipsis;
}

.clipped-text-cont {
	width:auto;
	text-align:center;
}

/* slide tab out */

.setup-radio-block {
	padding:10px !important;
	margin: 0 0 10px 0;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px dotted #ddd;
}

.setup-radio-block:HOVER {
	background-color: rgba(0, 0, 0, 0.025);
	border-bottom: 1px dotted #ffc34d;
}

.radio-block-mr {
	margin-right:30px !important;
}

.single-radio { display:inline-block; }
.single-radio LABEL:BEFORE { margin:0 !important; }

.modal-textarea { width:100%; height:100px !important; border-color:#B0B0B0 !important; }
.modal-input { width:100%; border-color:#B0B0B0 !important; }
.modal-input:HOVER, .shopcat-modaledit-textarea:HOVER { border-color:#707070 !important; }
.modal-butt { width:170px; }
.modal-margin { margin: 20px 0 !important; }
.modal-tmargin { margin-top: 10px !important; }

.modal-table {
	display:table;
	font-family: 'PT Sans', sans-serif;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	border-color: #B0B0B0; border-width: 0 0 1px 1px; border-style: solid;
	width:calc(100%-2px);
}
.modal-table .mt-row { display:table-row; width:100%; background-color:#fff; }
.modal-table .mt-row-th { display:table-row; width:100%; background-color:#F7F7F7; }
.modal-table .mt-ua-cell-lgnd { display:table-cell; width:45%; padding:15px; border-color: #B0B0B0; border-width: 1px 1px 0 0; border-style: solid; vertical-align:middle; }
.modal-table .mt-ua-cell-data { display:table-cell; width:15%; text-align:center; padding:15px; border-color: #B0B0B0; border-width: 1px 1px 0 0; border-style: solid; vertical-align:middle; }
.modal-table .mt-ua-cell-data:HOVER { background-color:#FAFAFA; }

.single-radio input[type=radio]:DISABLED + label:before { opacity: 0.3; }
.single-radio input[type=radio]:DISABLED + label.hoverable:HOVER { cursor:inherit; }
.single-radio:HOVER input[type=radio]:DISABLED + label:before { color: #888; }

.pheix-exit-header { margin-top: 20px; margin-bottom: 40px; }
.pheix-frm-exit-marg { margin-top: 15px; }
.pheix-exit-wndw { width:100%; height:210px; }
.pheix-resetpassw-head { padding: 20px 0; }
.pheix-form-shrt-inpt { width: 200px; }
.pheix-form-long-inpt { width: 300px; }
.pheix-ckeditor-popupcontainer, .pheix-ckeditor-container  { width: 100%; height: 450px; }

.pheix-mozilla {
	display: inline-block;
	position:relative;
	top:7px;
	margin-left:5px;
	background: url(../images/admin/mozilla_2017_logo.png) center center no-repeat;
	background-size:cover;
	width:88px;
	height:25px;
}

.fa-action-link, .fa-action-link:VISITED  {
	margin: 0 10px 0 10px;
	color: #606060;
	font-size : 14pt;
	text-decoration: none;
	font-weight: normal;
	text-shadow: 2px 2px 0px white;
}
.fa-action-link:HOVER  {
	margin: 0 10px 0 10px;
	color: #F93E04;
	font-size : 14pt;
	text-decoration: none;
	font-weight: normal;
	text-shadow: 2px 2px 0px white;
}
.fa-nonaction-span {
	margin: 0 10px 0 10px;
	color: #D0D0D0;
	font-size: 14pt;
	text-decoration: none;
	font-weight: normal;
}

.pheix-fs-path { color: #999; font-weight: normal; letter-spacing: 5px; }

.pheix-fs-path > A,
.pheix-fs-path > A:visited,
.pheix-fs-path > A:hover {
	font-size: 10pt !important;
	font-weight: bold;
	letter-spacing: normal !important;
}

.pheix-badge-cont {
	color: transparent;
	display: inline-block;
	position: relative;
	padding-right: 5px;
}

.pheix-badge-warn {
	color: #fa3e3e;
}

.pheix-badge-status {
	color: #0eb229;
	font-size: 13px !important;
}

.pheix-badge-cont-data {
	background-color:transparent;
	padding: 1px 3px;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 3px;
}

.pheix-error-alert {
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #f48073;
	border-radius: 5px;
	background-color: rgba(224, 58, 29, 0.07);
	font-family: 'PT Sans', sans-serif;
	color:red;
	font-size:14pt;
}

.pheix-status-alert {
	padding:12px;
	border-radius: 5px;
	border: 1px solid #5cd65c;
	background-color: rgba(92, 214, 92, 0.05);
	margin-bottom: 20px;
	font-size:12pt;
}

.pheix-margins-25px {
	width:350px;
	margin:25px 0;
}

.pheix-del-sitemap-icon { display:inline-block; margin-left:3px !important; padding:0 !important; }
.pheix-del-sitemap-icon > A { margin:0px !important; font-size:14pt !important;  }

.spinner { text-align:center; font-size:24pt; }

.pheix-admin-tab {
	margin: 20px 0px;
	padding: 10px;
	border: 5px solid #FDE4C6;
}

.pheix-admin-tab-container { display: table; width:100%; }

.pheix-admin-tab-row p {
	margin: 0px;
	padding: 0px;
}

.pheix-admin-tab-row {
	display: table-row;
	font-size: 11pt;
	font-family: 'PT Sans', sans-serif;
	color: #707070;
}

.pheix-admin-tab-row:hover {
	background-color: #fff;
}

.pheix-admin-tab-row-header {
	font-weight: bold;
	margin: 5px 0px !important;
}

.pheix-admin-tab-row-legend {
	color: #ccc;
}

.pheix-admin-tab-cell-l, .pheix-admin-tab-cell-r {
	display:table-cell;
	padding: 20px;
}

.pheix-admin-tab-cell-l { width: 70%; }
.pheix-admin-tab-cell-r {
	width: 30%;
	background-color: inherit;
	text-align: center;
	vertical-align: middle;
}

.pheix-upload-icon {
	padding: 0 5px;
	font-size: 18pt;
	color: #17656e;
}
