@font-face {
	font-family: "Strasua";
	src: url("fonts/strasua.eot");
	src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
	     url("fonts/strasua.ttf") format("truetype");
}

@font-face {
	font-family: "Georgia";
	src: url("fonts/georgia.eot");
	src: url("fonts/georgia.eot?#iefix") format("embedded-opentype"),
	     url("fonts/georgia.ttf") format("truetype");
}

body{
	background:#292931;
	font-family:'Open Sans';
}

.pheix { font-family:Strasua,Arial; color: #D0D0D0; font-size : 50px; text-decoration: none; font-weight: none}
.slogan { font-family:Tahoma,Arial; color: #606060; font-size : 12px; text-decoration: none; font-weight: none}

a.followlink { font-family:Georgia; color: #707070; font-size : 15px; text-decoration: none; font-weight: none; font-style:italic; }
a.followlink:visited { font-family:Georgia; color: #707070; font-size : 15px; text-decoration: none; font-weight: none; font-style:italic; }
a.followlink:hover { font-family:Georgia; color: #D0D0D0; font-size : 15px; text-decoration: underline; font-weight: none; font-style:italic; }

#block,#option{
	width:230px;
	height:109px;
	margin:auto;
}
#block{

	background:#423143;
	margin-top:10px;
}
#block:before{
	content:'';
	display:block;
	height:3px;
}

#block:after{
	content:'';
	display:block;
	width:24px;
	height:24px;
	background-image: url('../images/admin/cms/loginform/rotate.png');
	background-position: center center; background-repeat: no-repeat;
	margin:10px 10px;
	position:absolute;
}
#block label, #submit{
	position:absolute;
	width:33px;
	height:32px;
	background:#dedede;
	margin:15px;
	text-align:center;
	line-height:2.2;
	color:#857487;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
#block label#pass{
	position:absolute;
	width:33px;
	height:32px;
	background:#dedede;
	margin:-5px 15px;
}
#submit{
	border:0;
	margin:-27px 0px 0px 182px;
	width:33px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	background:#ae6cac;
	background-image: url('../images/admin/cms/loginform/done-full.png');
	background-position: center center; background-repeat: no-repeat;
	padding:0;
}
#submit:hover{
	color:#fff;
	opacity:0.9;
}

#block input[type=text],#block  input[type=password] {
 	font-family:Calibri,Arial;
 	font-size:14px;
	-webkit-font-smoothing: antialiased;
}
#block input[type=text],#block input[type=password]{
	margin:0px;
	padding:0px 0px 0px 40px;
	width:160px;
	height:32px;
	margin:15px 15px;
	border:0;
	border-radius:0px;
	outline:0;
	display:block;
}
#block input[type=password]{

	height:32px;
	margin: -5px 15px;
}

#option{
	padding-left:8px;
	width:240px;
	height:80px;
	overflow:hidden;
	margin:auto;
	color:#D0D0D0;
}

#logo{
	padding:30px;
	/*width:230px;
	height:230px;*/
	overflow:hidden;
	margin:auto;
	text-align:center;
}

#block:active > #block:before{
	background-position:100px 100px;
}

#pass img, #user img {
 padding-top:8px;
}

.errorloginform{
	text-align:center;
	padding-left:0px;
	width:400px;
	/*height:20px;*/
	overflow:hidden;
	margin:auto;
	font-family:Calibri,Arial;
	font-size:16px;
	color:#FF0000;
}
