@font-face {
  font-family: "Strasua";
  src: url("fonts/Strasua.eot");
  src: url("fonts/Strasua.eot?#iefix") format("embedded-opentype"),
       url("fonts/Strasua.ttf") format("truetype");
 }

body {
margin: 0;
}

.divmenucell 			{ display:inline-block; top:0px; margin:0px; padding:0px; font-family:Tahoma,Arial; font-size : 16px; }
.divmenucell span.item		{ display: block; line-height:2; color:#202020; padding: 25px; border-color: #D0D0D0; border-width: 0px 0px 0px 1px; border-style: dotted; }
.divmenucell span.itemexit	{ display: block; line-height:2; color:#202020; padding: 25px; border-color: #D0D0D0; border-width: 0px 1px 0px 1px; border-style: dotted; }
.divmenucell span.topline 	{ display: block; height:10px; background-color:#feabb8; border-color: #fd8295; border-width: 0px 0px 0px 1px; border-style: solid;}
.divmenucell span.toplineexit 	{ display: block; height:10px; background-color:#feabb8; border-color: #fd8295; border-width: 0px 1px 0px 1px; border-style: solid;}
.divmenucell:hover span.topline		{ background-color:red;}
.divmenucell:hover span.toplineexit 	{ background-color:red;}
.divmenucell:hover span.itemexit	{ text-decoration: underline;}
.divmenucell:hover span.item		{ text-decoration: underline;}

.divfootercell	{ display:inline-block; width:1000px; color:#A0A0A0; font-family:Tahoma,Arial; font-size : 14px;}
.divcontentcell { display:inline-block; width:1000px; }

.standart_text { font-family:Tahoma,Arial; color: #707070; font-size : 12px; text-decoration: none; FONT-WEIGHT: none}
.pheix { font-family:"Strasua",Arial; color: #303030; font-size : 50px; text-decoration: none; FONT-WEIGHT: none}
.slogan { font-family:Tahoma,Arial; color: #A0A0A0; font-size : 12px; text-decoration: none; FONT-WEIGHT: none}

A.simplelink { font-family:Tahoma,Arial; color: #F93E04; font-size : 12px; text-decoration: underline; FONT-WEIGHT: none}
A.simplelink:visited { font-family:Tahoma,Arial; color: #F93E04; font-size : 12px; text-decoration: underline; FONT-WEIGHT: none}
A.simplelink:hover { font-family:Tahoma,Arial; color: #AA0000; font-size : 12px; text-decoration: underline; FONT-WEIGHT: none}

A.bot_designed_link { color:#D0D0D0; font-family:Tahoma,Arial; font-size : 14px; text-decoration: underline; FONT-WEIGHT: none}
A.bot_designed_link:visited { color:#D0D0D0; font-family:Tahoma,Arial; font-size : 14px; text-decoration: underline; FONT-WEIGHT: none}
A.bot_designed_link:hover { color:#FFFFFF; font-family:Tahoma,Arial; font-size : 14px; text-decoration: underline; FONT-WEIGHT: none}
