*:focus {
    outline: none !important;
}

._phx_hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #ccc;
    color: #fff;
    margin-top: 20px;
}

._phx_a {
    transition: all 0.4s linear;
}

/* positions */


._phx-pos-inherit {
    position: inherit !important;
}

._phx-posa {
    position: absolute;
}

._phx-posr {
    position: relative;
}


/* blocks */

._phx-dblck {
    display: block;
}

._phx-inline {
    display: inline;
}

._phx-inblck {
    display: inline-block;
}

._phx-tab {
    display: table;
}

._phx-tabr {
    display: table-row;
}

._phx-tabc {
    display: table-cell;
}


/* shifters */
._phx-t3 {
    top: 3px;
}


/* font-sizers */

._phx-fs14px {
    font-size: 14px;
}

._phx-fs5x {
    font-size: 5em;
}

._phx-fs4x {
    font-size: 4em;
}

._phx-fs3x {
    font-size: 3em;
}

._phx-fs2x {
    font-size: 2em;
}

._phx-fs08x {
    font-size: .8em;
}

._phx-fs05x {
    font-size: .5em;
}


/* widthers */

._phx-fwdth {
    width: 100%;
}

._phx-wdth80 {
    width: 80%;
}


/* heighters */

._phx-height200 {
    height: 200px;
}

._phx-lheight50 {
    line-height: 50px;
}

._phx-lheight70 {
    line-height: 70px;
}


/* aligners */

._phx-cntr {
    text-align: center;
}

._phx-left {
    text-align: left;
}

._phx-rght {
    text-align: right;
}


/* wrappers */

._phx-wrap15 {
    height: 15px;
}

._phx-wrap25 {
    height: 25px;
}

._phx-wrap50 {
    height: 50px;
}

._phx-wrap75 {
    height: 75px;
}

._phx-wrap100 {
    height: 100px;
}


/* colors */

._phx-white {
    color: white;
}

._phx-888i {
    color: #888 !important;
}

._phx-ccc {
    color: #ccc;
}

._phx-alert {
    color: rgba(220, 53, 69, .5);
}


/* backgrounds */

._phx-transbg {
    background-color: transparent !important;
}

._phx-bg-fc-linear {
    background: linear-gradient(to bottom, #fcfcfc, white);
}

._phx_bg-333 {
    background-color: #333;
}

._phx-bg-0c {
    background-color: #0c0c0c;
}

._phx-bg-000-5 {
    background-color: rgba(0, 0, 0, .5);
}

._phx-bg-000-3 {
    background-color: rgba(0, 0, 0, .3);
}

._phx-bg-fff-9 {
    background-color: rgba(255, 255, 255, .9);
}


/* font-resizers */

._phx-fnt10 {
    font-size: 10pt;
}

._phx-fnt12 {
    font-size: 12pt;
}

._phx-fnt14 {
    font-size: 14pt;
}

._phx-fnt16 {
    font-size: 16pt;
}

._phx-fnt18 {
    font-size: 18pt;
}


/* font stylers */

._phx-italic {
    font-style: italic;
}

._phx-bold {
    font-weight: bold;
}

._phx-uline {
    text-decoration: underline;
}


/* marginers */

._phx-nomrg {
    margin: 0px !important;
}

._phx-novmrg {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

._phx-tmrg7 {
    margin-top: 7px;
}

._phx-bmrg7 {
    margin-bottom: 10px;
}

._phx-rmrg15 {
    margin-right: 15px;
}

._phx-lmrg10 {
    margin-left: 10px;
}


/* padders */

._phx-nopad {
    padding: 0px !important;
}

._phx-nohpad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

._phx-novpad {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

._phx-hpad15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

._phx-hpad25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

._phx-vpad15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

._phx-vpad30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

._phx-tpad30 {
    padding-top: 30px;
}

._phx-tpad15 {
    padding-top: 15px;
}


/* opacities */

._phx-opacity-2 {
    opacity: .2;
}

._phx-opacity-5 {
    opacity: .5;
}

._phx-opacity-8 {
    opacity: .8;
}


/* borders */

._phx-brdrnone {
    border: none !important;
}

._phx-brdrbtm-888 {
    border-bottom-color: #666;
}


/* shadows */

._phx-shadbot {
    box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.14);
}

._phx-txtshad {
    text-shadow: #000000 1px 1px 1px;
}


/* linx */

._phx-footlink {
    text-decoration: none;
    border: none !important;
}

._phx-footlink-1 {
    color: #f0f0f0 !important;
}

._phx-footlink-1:visited {
    color: #f0f0f0 !important;
}

._phx-footlink-1:hover {
    color: #fff !important;
    text-decoration: underline;
}

._phx-footlink-2 {
    color: #666 !important;
    text-decoration: underline !important;
}

._phx-footlink-2:visited {
    color: #666 !important;
    text-decoration: underline;
}

._phx-footlink-2:hover {
    color: #888 !important;
    text-decoration: underline;
}

._phx-mainmenu {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: none;
}

._phx-mainmenu:visited {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: none;
}

._phx-mainmenu:hover {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: underline;
}

._phx-overflowx {
    overflow-x: auto;
}

@media( min-width:110px) {
}

@media( min-width:360px) {}

@media (min-width:576px) {}

@media( min-width:768px) {}

@media( min-width:992px) {}

@media( min-width:1200px) {}
