/* import modules styles */

@import "modules/user/pheix-lightshop.css" screen;
@import "modules/user/pheix-shopcat.css?0.8.92" screen;
@import "modules/user/pheix-weblog.css" screen;
@import "modules/user/pheix-rss.css" screen;
@import "modules/user/pheix-gallery.css" screen;
@import "modules/user/pheix-feedback.css" screen;

/* import modules styles */

@font-face {
	font-family: "Strasua";
	src: url("fonts/strasua.eot");
	src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
	url("fonts/strasua.ttf") format("truetype"),
	url("fonts/strasua.svg#JournalRegular") format("svg");
}

@font-face {
	font-family: "Georgia";
	src: url("fonts/georgia.eot");
	src: url("fonts/georgia.eot?#iefix") format("embedded-opentype"),
	url("fonts/georgia.ttf") format("truetype"),
	url("fonts/georgia.svg#JournalRegular") format("svg");
}

BODY { margin: 0; }

H4 {
	margin-bottom:5px;
	font-family:Tahoma,Arial; color: #505050; font-size : 24px; text-decoration: none; font-weight: normal;
}

H2 {
	font-family:Arial,Tahoma,Arial;
	font-size : 14pt;
	color: #505050;
	font-weight: normal;
	text-decoration: none;
}

.spinner { text-align:center; }
.spinner I { font-size:24px; line-height:50px; opacity:0.5; }
.pheix { font-family:Strasua,Arial; color: #505050; font-size : 50px; text-decoration: none; font-weight: normal; }
.slogan { font-family:Tahoma,Arial; color: #C0C0C0; font-size : 12px; text-decoration: none; font-weight: normal; }

.menu_text{ font-family:Arial,Tahoma; font-size : 9pt; color: #808080; font-weight: normal; text-decoration: none; }
.std_text{ font-family:Arial,Tahoma; font-size : 14px; color: #505050; font-weight: normal; text-decoration: none; }
.std_text_silver{ font-family:Arial,Tahoma; font-size : 9pt; color: #909090; font-weight: normal; text-decoration: none; }
.pageheader{ font-family:Arial,Tahoma,Arial; font-size : 14pt; color: #505050; font-weight: normal; text-decoration: none; }
.copyright { font-family:Arial; font-size : 11px; color: #808080; font-weight: normal; text-decoration: none; }
.designby { font-family:Arial; font-size : 9px; color: #C0C0C0; font-weight: normal; text-decoration: none; }
.alttext {font-family:Arial,Tahoma,Arial; font-size : 9pt; color: rgb(240,119,28); font-weight: normal; text-decoration: none; }
.qr_standart_text{ font-family:Tahoma,Arial; color: #404040; font-size : 12px; text-decoration: none; font-weight: normal; }
.qr_standart_head{ font-family:Verdana,Arial; color: #F93E04; font-size : 20px; text-decoration: none; font-weight: normal; }
.status {font-family: Tahoma,Arial; font-size: 10pt; color:#0000FF; font-weight: normal; }
.error {font-family: Tahoma,Arial; font-size: 10pt; color:#FF0000; font-weight: normal; }
.standart_text { font-family:Tahoma,Arial; color: #505050; font-size : 14px; text-decoration: none; font-weight: normal; }
.popup_header {color: #404040; font-family: Helvetica,Tahoma; font-size: 14pt; padding-bottom: 10px; padding-top: 10px; font-weight: normal; }
.captcha { border-color: #808080; border-width: 1px 1px 1px 1px; border-style: solid; }

/* delimiters */

.delimiter {
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	border: 1px dotted #aaaaaa;
	border-width: 0 0 1px 0;
}

A, A:visited { font-family:Tahoma,Arial; color: #F55555; font-size : 14px; text-decoration: none; font-weight: normal; }
A:hover { font-family:Tahoma,Arial; color: #F00000; font-size : 14px; text-decoration: underline; font-weight: normal; }

A.pheix-link, A.pheix-link:visited { font-family:Strasua,Arial; color: #505050; font-size : 50px; text-decoration: none; font-weight: normal; }
A.pheix-link:hover { color: #880000; }

A.topmenu {font-family:Tahoma,Arial; color: #800000; font-size : 12pt; text-decoration: none; font-weight: normal; }
A.topmenu:visited {font-family:Tahoma,Arial; color: #800000; font-size : 12pt; text-decoration: none; font-weight: normal; }
A.topmenu:hover {font-family:Tahoma,Arial; color: #FF0000; font-size : 12pt; text-decoration: underline; font-weight: normal; }

A.textlink { font-family:Tahoma,Arial; color: #F00000; font-size : 12px; text-decoration: none; font-weight: normal; }
A.textlink:visited { font-family:Tahoma,Arial; color:#F00000; font-size : 12px; text-decoration: none; font-weight: normal; }
A.textlink:hover { font-family:Tahoma,Arial; color: #FF0000; font-size : 12px; text-decoration: underline; font-weight: normal; }

A.simplelink { font-family:Tahoma,Arial; color: #800000; font-size : 12px; text-decoration: underline; font-weight: normal; }
A.simplelink:visited { font-family:Tahoma,Arial; color: #800000; font-size : 12px; text-decoration: underline; font-weight: normal; }
A.simplelink:hover { font-family:Tahoma,Arial; color: #FF0000; font-size : 12px; text-decoration: underline; font-weight: normal; }

A.news_list { font-family:Tahoma,Arial; color: #800000; font-size : 12px; text-decoration: underline; font-weight: normal; }
A.news_list:visited { font-family:Tahoma,Arial; color: #800000; font-size : 12px; text-decoration: underline; font-weight: normal; }
A.news_list:hover { font-family:Tahoma,Arial; color: #FF0000; font-size : 12px; text-decoration: underline; font-weight: normal; }

A.textlink {color: #808080; font-weight: normal; text-decoration: underline; }
A.textlink:visited {color: #808080; font-weight: normal; text-decoration: underline; }
A.textlink:hover {color: #a20000; font-weight: normal; text-decoration: underline ;}

A.blacklink {color: #000000; font-weight: normal; text-decoration: underline; }
A.blacklink:visited {color: #000000; font-weight: normal; text-decoration: underline; }
A.blacklink:hover {color: #a20000; font-weight: normal; text-decoration: underline; }

A.copylink {font-family:Arial; color: #a0a0a0; font-size : 9px; font-weight: normal; text-decoration: underline; }
A.copylink:visited {font-family:Arial; color: #a0a0a0; font-size : 9px; font-weight: normal; text-decoration: underline; }
A.copylink:hover {font-family:Arial; color: #a20000; font-size : 9px; font-weight: normal; text-decoration: underline; }

A.menulink {font-size:16px; color: #808080; font-weight: normal; text-decoration: none; }
A.menulink:visited {font-size:16px; color: #808080; font-weight: normal; text-decoration: none; }
A.menulink:hover {font-size:16px; color: #a20000; font-weight: normal; text-decoration: underline; }

A.deepredlink {color: #303030; font-weight: normal; text-decoration: none; }
A.deepredlink:visited {color: #a20000; font-weight: normal; text-decoration: none; }
A.deepredlink:hover {color: #a20000; font-weight: normal; text-decoration: underline; }

.tdhghlgh {background-color:#FAFAFA;}

TABLE.content-table {
	max-width:1070px;
	height:100%;
	border: dotted #aaaaaa;
	border-width: 0 2px 0 2px;
}

TABLE.commontab2 {
	border-color: #D5D5D5;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	background-image: url('../images/social_bg.png'); background-repeat: no-repeat;
}

TABLE.commontab {
	border-color: #808080;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

TABLE.commontab TD {
	border-color: #808080;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 4px;
	background-color: #FFFFFF;
}

.lshopbtn, .fbbtn, .button {
	width: 140px;
	color: #404040;
	font-size: 11px;
	font-family: Tahoma, Verdana, Sans-Serif;
	background:#FAFAFA;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.lshopinput, .fbinput, .input {
	width: 400px;
	color: #404040;
	font-size: 11px;
	font-family: Tahoma, Verdana, Sans-Serif;
	/*border: 1 outset #808080;
	height:18;*/
	background:#FFFFFF;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.search-button {
	height: 25px;
	width: 140px;
	color: #404040;
	font-size: 13px;
	font-family: Tahoma, Verdana, Sans-Serif;
	/*border: 1 outset #808080;
	height:18;*/
	background:#FAFAFA;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.search-input {
	height: 25px;
	width: 50%;
	color: #404040;
	font-size: 13px;
	font-family: Tahoma, Verdana, Sans-Serif;
	/*border: 1 outset #808080;
	height:18;*/
	background:#FFFFFF;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.searchhl {background-color: #00ff00; font-weight: bold; color:#000000;}

.divs-in-inline-block-images div {
	border-color: #F0F0F0;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	padding:5px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin:0 10px 10px 0;
	zoom: 1;
	/*display: inline;
	height: 250px;*/
}

.divs-in-inline-block-images DIV IMG {width:150px;}

.divs-in-inline-block-variants DIV {
	border-color: #F0F0F0;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	padding:5px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin:0 10px 10px 0;
	zoom: 1;
	/*display: inline;
	height: 250px;*/
}

.divs-in-inline-block-variants DIV.inline-block-description {
	padding:30px 30px 30px 30px;
	width:50%;
}

.socials {
	display:table;
	width:100%;
	height:100px;
	margin:25px 0 0 0;
	border:1px solid #ccc;
}

.pheix-404-title, .pheix-index-title {
	font-size:18pt;
	color:#666;
	text-align:center;
	font-weight:normal;
}

.pheix-404-icon, .pheix-index-icon {
	padding:11px 0 10px 0;
	margin:0px;
	text-align:center;
	font-size:40pt;
	opacity:0.1;
	color:#111;
}

.pheix-404-description, .pheix-index-description {
	text-align:center;
	margin-bottom:50px;
}

.pheix-asterisk {
	font-size:16pt;
	font-weight:normal;
	color:#111;
	margin:14px 0;
	opacity: 0.3;
}

.pheix-social-cont {
	width:100%;
	height:100%;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	background: repeating-linear-gradient(
		-45deg,
		#fff,
		#fff 5px,
		#d9d9d9 5px,
		#d9d9d9 10px
    );
}

.pheix-content-table {
	display:table;
	width: 1080px;
	height:100%;
	border: dotted #aaaaaa;
	border-width: 0 2px 0 2px;
}

.pheix-content-table-row { display:table-row; }
.pheix-content-table-cell { display:table-cell; vertical-align: top; }
.pheix-navigation {
	width: 380px;
	padding: 25px;
	text-align: center;
}
.pheix-content {
	min-width: 700px;
	max-width: 700px;
	padding: 25px;
	background-color: #fafafa;
}
.pheix-bottom {
	width: auto;
	height: 25px;
	padding: 0 7px;
	vertical-align: middle !important;
	text-align: right;
}
.pheix-trans { transition: all 0.2s linear; }
.pheix-txt-trans-dark { color: #888; background-color: #ddd; opacity: .7; }
.pheix-txt-trans-dark:hover, .pheix-txt-trans-dark:focus { color: #222; opacity: 1;  }
